* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blur: 2px;
  --op: 0.5;
  --color: #ffffff;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
.main {
  width: 100%;
  height: 100vh;

  & h1 {
    text-align: center;
    color: var(--color);
    font-size: 3rem;
  }
}

.part-2 {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #ff7f3e,
    #850f8d
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  width: 60%;
  height: auto;
}

.col-2 {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.col-1 {
  width: 400px;
  margin: 0;
  padding: 0;
  height: 200px;
  margin: 1rem 0;
}

.card {
  border: 1px solid rgba(255, 255, 255, var(--op));
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.form-control label {
  font-size: 25px;
}

.code {
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-code {
  margin-top: 20px;
  width: 80%;
  height: 150px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  background: #353b45;
  color: #ffffff;
  font-family: monospace;
  overflow: auto;
  margin: 3rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 540px) {
  .part-2 {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .col-1 {
    width: 300px;
  }

  .copy {
    top: 20%;
  }

  .css-code {
    margin: 0;
    margin-top: 3rem;
    width: 100%;
  }
}
